body {
  font-family: 'Inter', sans-serif;
}
.fullscreen-bg {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 2;
}
.content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
h1 {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1),
              0 0 20px rgba(0, 0, 0, 1);
}
.btn-login {
  display: inline-block;
  padding: 7px 25px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn-login:hover {
  color: #000000;
  background: linear-gradient(135deg, #FF74C7, #FF983D);
  transform: translateY(-2px);
}